@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Open+Sans:400italic,400&subset=latin,latin-ext);

body { 
	margin: 0; 
	font-family: 'Open Sans', sans-serif;
	height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#sidebar {
	width: 310px;
    color: white;
    display: flex;
    flex-direction: column;
}
#sidebar .sideBox {
	background: #83A1D6;
}

#sidebar header {
	height: 160px;
    display: flex;
    flex-direction: column;
}
#sidebar header img {
	height: 50px;
	width: 50px;
    margin: 10px auto auto auto;
}
#sidebar header h1 {
	text-align: center;
}



#sideNavigator {
	background: #ABBCD6;
    overflow-y: hidden;
}
#sideNavigator form {
    display: flex;
    flex-direction: column;
}
#sideNavigator form input {
    width: 80%;
    margin: 10px auto;
    height: 25px;
    padding: 2px;
    border-width: 1px;
}

#siteList {
    margin: 0px;
    overflow-y: scroll;
}
ul#siteList {
	list-style: none;
}
ul#siteList ul{
	list-style: none;
}
ul#siteList li {
    margin-top: 10px;
}
ul#siteList li a, ul#siteList li a:link, ul#siteList li a:hover  {
    color: white;
}



#sidebar footer {
    height: 140px;
    text-align: center;
}
#sidebar footer h2 {
	
}
#sidebar footer p {
	font-size: 70%;
}




/* ---------------
------ Content ---
----------------*/

#content {
    width: calc(100% - 310px);
    overflow-y: scroll;
}
#content article {
    padding: 50px;
	color: #222222;
}

#content article header {
    margin: 20px;
}
#content article header h1 {
    font-size: 200%;
}
#content article header h2 {
    font-size: 150%;
}

#content article p {
    margin-top: 10px;
    margin-bottom: 10px;
}

code {
	font-family: 'Ubuntu Mono', monospace;
}
.highlight {
	background: #D5E8D4;
}

#content footer {
	font-size: 90%;
}
#content footer time {
	font-style: italic;
}